<div class="container">
	<div class="col-lg-12">
		<button class="btn btn-primary" (click)="home()">Home</button>
		<button class="btn btn-info" (click)="save()">Save</button>
		<br><br>
		<table>
		<tr>
			<td><label>ID</label></td>
			<td> : </td>
			<td><span *ngIf="data">{{data.id}}</span></td>
		</tr>
		<tr>
			<td><label>Name</label></td>
			<td> : </td>
			<td><input *ngIf="data" [(ngModel)]="data.name" class="form-control"></td>
		</tr>
		<tr>
			<td><label>Description</label></td>
			<td> : </td>
			<td><input *ngIf="data" [(ngModel)]="data.description" class="form-control"></td>
		</tr>
		</table>
	</div>
</div>
<br>
