table, th, td {
	border: 1px solid #98bf21;
	border-collapse: collapse;
}

th{
	background-color:#a7c942;
	color:white;
	padding:15px 30px 15px 30px;
}

td{
	padding:5px 30px 5px 30px;
}

.edit-button{
	float:right;
	cursor:pointer;
}

.space{
	display:inline-block;
	width:20px;
}